h1= title
<<<<<<< HEAD
#p Welcome to #{title}
#articles
  - each article in articles
    div.article
      div.created_at= article.created_at
      div.title
        a(href="/blog"+article._id)!= article.title
      div.body= article.body
=======
p Welcome to #{title}
>>>>>>> 3f5b4073dc372ed3bcc1fbe943aca960cf160712
